*{
  --correct-green: #58a351;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }


  .main-container{
      display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        grid-template-rows: repeat(6, minmax(0, 1fr));
      justify-items: center;
      gap: 5px;
      align-items: center;
      padding: 2rem;
      bordeR: 2px solid green;
     
  }

  .keyboard-container{
    border: 2px solid hotpink;
    display: flex;
    width: 30%;
    
  }
  
  .box{
    border: 2px solid lightgray;
    width: 50px;
    height: 50px;
    display:flex;
    font-weight: 500;
    align-items:center;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
    font-family: "Fredoka", sans-serif;
    transition: transform 0.5s;
    
  }
  
  
  .grey-border{
    border: 2px solid grey;
  }
  
  .correct{
    animation: flip 0.7s ease forwards !important;
    --bg-color: var(--correct-green);
    border: 2px solid  var(--correct-green);
  }
  
  .incorrect{
    animation: flip 0.7s ease forwards !important;
    --bg-color: gray;
    
  }

  .yellow{
    animation: flip 0.7s ease forwards !important;
    --bg-color: #c4ab3b;
  }

  .zoom-animation{
    animation: zoom 0.1s forwards;
  }

  .shake{
    animation: shake 0.2s;
  }
  

  @keyframes flip {
    
    0% {
        transform: rotateX(0deg);
        background-color: initial;
        color: initial;
    }

    50%{
       transform: rotateX(90deg);
       background-color: initial;
       color: initial;
    }

    100% {
      transform: rotateX(0deg);
      background-color: var(--bg-color);
      color: white;
  }

  }


  @keyframes zoom {
    0% {
      transform: scale(1,1);
    }

    50% {
      transform: scale(1,1.1);
    }


    100% {
      transform: scale(1,1);
    }
  }

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }