*{
  --correct-green: #58a351;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
   
    
  }
  .main-container{
      display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        grid-template-rows: repeat(6, minmax(0, 1fr));
      justify-items: center;
      gap: 5px;
      align-items: center;
      padding: 2rem;
  }
  
  .box{
    border: 2px solid lightgray;
    width: 50px;
    height: 50px;
    display:flex;
    font-weight: 700;
    align-items:center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
 
    transition: transform 0.5s;
    
  }
  
  
  .grey-border{
    border: 2px solid grey;
  }
  
  .correct{
    animation: flip 0.7s ease forwards !important;
    --bg-color: var(--correct-green);
    border: 2px solid  var(--correct-green);
  }
  
  .incorrect{
    animation: flip 0.7s ease forwards !important;
    --bg-color: gray;
    
  }

  .yellow{
    animation: flip 0.7s ease forwards !important;
    background-color: yellow;
  }

  .zoom-animation{
    animation: zoom 0.1s forwards;
  }
  

  @keyframes flip {
    
    0% {
        transform: rotateX(0deg);
        background-color: initial;
        color: initial;
    }

    50%{
       transform: rotateX(90deg);
       background-color: initial;
       color: initial;
    }

    100% {
      transform: rotateX(0deg);
      background-color: var(--bg-color);
      color: white;
  }

  }


  @keyframes zoom {
    0% {
      transform: scale(1,1);
    }

    50% {
      transform: scale(1,1.1);
    }


    100% {
      transform: scale(1,1);
    }
  }